<p style="text-align: center;"><span style="font-size: 8pt;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://localhost:4200/assets/images/logo_nutri_update.png" width="93" height="93"></span>***Ordered Recieved****</p>
<p style="text-align: left;">Shipping Details</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Name</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Country</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Street</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">State</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">City</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Pincode</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Mobile</span></td>
<td style="width: 11.9584%;"><span style="font-size: 10pt;">Email</span></td>
</tr>
<tr>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
<td style="width: 11.9584%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>Order Details</p>
<table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 16.0993%; height: 18px;"><span style="font-size: 10pt;">Product Name</span></td>
<td style="width: 16.0993%; height: 18px;"><span style="font-size: 10pt;">Quantity</span></td>
<td style="width: 16.0993%; height: 18px;"><span style="font-size: 10pt;">OrderId</span></td>
<td style="width: 16.0993%; height: 18px;"><span style="font-size: 10pt;">Order Amount</span></td>
<td style="width: 16.0993%; height: 18px;"><span style="font-size: 10pt;">Order Status</span></td>
<td style="width: 16.1105%; height: 18px;"><span style="font-size: 10pt;">Payment Method</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 16.0993%; height: 18px;">&nbsp;</td>
<td style="width: 16.0993%; height: 18px;">&nbsp;</td>
<td style="width: 16.0993%; height: 18px;">&nbsp;</td>
<td style="width: 16.0993%; height: 18px;">&nbsp;</td>
<td style="width: 16.0993%; height: 18px;">&nbsp;</td>
<td style="width: 16.1105%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>